Repository TheThingsNetwork/lorawan-stack-migrate, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @adriansmares, @happyRip

dev: Fix source initialization order
  CHANGELOG.md
  cmd/chirpstack/chirpstack.go
  cmd/ttn-lw-migrate/main.go
  cmd/ttnv2/ttnv2.go
  cmd/tts/tts.go
  pkg/commands/source.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Add `firefly` source
  cmd/ttn-lw-migrate/main.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Implement a barebones `source.Source` interface
  pkg/source/firefly/firefly.go
  pkg/source/firefly/source.go
Owners: @happyRip, @johanstokking

dev: Add basic config
  pkg/source/firefly/config.go
  pkg/source/firefly/source.go
Owners: @happyRip, @johanstokking

dev: Improve config
  pkg/source/firefly/config.go
  pkg/source/firefly/errors.go
Owners: @happyRip, @johanstokking

dev: Create `devices` package
  pkg/source/firefly/devices/application.go
  pkg/source/firefly/devices/devices.go
Owners: @happyRip, @johanstokking

dev: Add `api` package
  pkg/source/firefly/api/api.go
Owners: @happyRip, @johanstokking

dev: Extend `source` functionalities
  pkg/source/firefly/firefly.go
  pkg/source/firefly/source.go
  pkg/source/firefly/util.go
Owners: @happyRip, @johanstokking

dev: Improve `devices` package
  pkg/source/firefly/devices/devices.go
  pkg/source/firefly/devices/packet.go
Owners: @happyRip, @johanstokking

dev: Improve `api` package
  pkg/source/firefly/api/api.go
Owners: @happyRip, @johanstokking

dev: Work on `firefly` package
  pkg/source/firefly/config.go
  pkg/source/firefly/errors.go
  pkg/source/firefly/source.go
Owners: @happyRip, @johanstokking

dev: Move to `zap` logger
  pkg/source/firefly/api/api.go
  pkg/source/firefly/config.go
  pkg/source/firefly/source.go
Owners: @happyRip, @johanstokking

dev: Add `Location` object to `devices` package
  pkg/source/firefly/devices/devices.go
Owners: @happyRip, @johanstokking

dev: Small updates
  pkg/source/firefly/api/api.go
  pkg/source/firefly/config.go
  pkg/source/firefly/source.go
Owners: @happyRip, @johanstokking

doc: Add documentation for `firefly` source
  README.md
Owners: none

cli: Fix firefly source
  cmd/firefly/firefly.go
  cmd/root.go
  pkg/source/firefly/config.go
  pkg/source/firefly/errors.go
  pkg/source/firefly/firefly.go
  pkg/source/firefly/source.go
Owners: @happyRip, @adriansmares, @johanstokking

all: Complete firefly functionality
  .gitignore
  pkg/source/firefly/api/api.go
  pkg/source/firefly/client/client.go
  pkg/source/firefly/client/messages.go
  pkg/source/firefly/config.go
  pkg/source/firefly/devices/application.go
  pkg/source/firefly/devices/devices.go
  pkg/source/firefly/devices/packet.go
  pkg/source/firefly/errors.go
  pkg/source/firefly/firefly.go
  pkg/source/firefly/source.go
  pkg/source/firefly/util.go
Owners: @happyRip, @johanstokking

all: Make firefly device bytes optional
  pkg/source/firefly/client/client.go
  pkg/source/firefly/client/messages.go
  pkg/source/firefly/config.go
  pkg/source/firefly/errors.go
  pkg/source/firefly/source.go
Owners: @happyRip, @johanstokking

all: Fix fetching packets
  pkg/source/firefly/client/client.go
Owners: @happyRip, @johanstokking

all: Update session key ID
  cmd/ttn-lw-migrate/main.go
  pkg/source/firefly/client/messages.go
  pkg/source/firefly/source.go
Owners: @happyRip, @adriansmares, @johanstokking

all: Improve code reuse
  cmd/firefly/firefly.go
  pkg/source/chirpstack/source.go
  pkg/source/chirpstack/util.go
  pkg/source/firefly/client/client.go
  pkg/source/firefly/config.go
  pkg/source/firefly/errors.go
  pkg/source/firefly/source.go
  pkg/util/util.go
Owners: @happyRip, @adriansmares, @johanstokking

all: Add option to invalidate keys
  pkg/source/firefly/config.go
  pkg/source/firefly/errors.go
  pkg/source/firefly/firefly.go
  pkg/source/firefly/source.go
Owners: @happyRip, @johanstokking

doc: Update readme
  README.md
Owners: none

dev: Add changelog
  CHANGELOG.md
Owners: none

dev: Define iterator per source
  .gitignore
  README.md
  pkg/commands/export.go
  pkg/export/export.go
  pkg/iterator/iterator.go
  pkg/iterator/iterator_test.go
  pkg/source/chirpstack/source.go
  pkg/source/firefly/client/client.go
  pkg/source/firefly/config.go
  pkg/source/firefly/firefly.go
  pkg/source/firefly/source.go
  pkg/source/source.go
  pkg/source/ttnv2/source.go
  pkg/source/tts/source.go
Owners: @happyRip, @johanstokking

all: Harmonize logger usage
  cmd/root.go
  pkg/commands/source.go
  pkg/log/log.go
  pkg/source/firefly/client/client.go
  pkg/source/firefly/config.go
  pkg/source/firefly/source.go
  pkg/source/source.go
  pkg/source/tts/config/config.go
  pkg/source/tts/source.go
  pkg/source/tts/tts.go
Owners: @happyRip, @adriansmares, @johanstokking

all: Propagate context to sub commands
  cmd/root.go
  pkg/commands/source.go
Owners: @happyRip, @adriansmares, @johanstokking

all: Fix device ID export
  pkg/export/errors.go
  pkg/export/export.go
  pkg/source/firefly/source.go
Owners: @happyRip, @johanstokking

dev: Create MAC state for Firefly devices
  pkg/source/firefly/config.go
  pkg/source/firefly/source.go
Owners: @happyRip, @johanstokking

all: Init flags without exposing values
  pkg/source/firefly/config.go
Owners: @happyRip, @johanstokking

all: Make iterator use stdin for devices
  pkg/commands/export.go
  pkg/source/chirpstack/source.go
  pkg/source/firefly/source.go
  pkg/source/source.go
  pkg/source/ttnv2/source.go
  pkg/source/tts/source.go
Owners: @happyRip, @johanstokking

dev: Update readme
  README.md
  pkg/export/export.go
  pkg/source/firefly/config.go
  pkg/source/source.go
Owners: @happyRip, @johanstokking

dev: Update test package name
  pkg/iterator/iterator_test.go
  pkg/source/firefly/source.go
Owners: @happyRip, @johanstokking

all: Set changelog to v0.10.0
  CHANGELOG.md
Owners: none

dev: Use Go 1.21
  .github/workflows/go.yaml
  .github/workflows/release.yaml
  go.mod
  go.sum
Owners: @adriansmares, @happyRip, @johanstokking

util: Add wanesy boilerplate
  cmd/root.go
  cmd/wanesy/wanesy.go
  pkg/source/wanesy/config.go
  pkg/source/wanesy/messages.go
  pkg/source/wanesy/source.go
  pkg/source/wanesy/wanesy.go
Owners: @happyRip, @adriansmares, @johanstokking

util: Complete device
  pkg/source/wanesy/messages.go
  pkg/source/wanesy/source.go
Owners: @happyRip, @johanstokking

util: Export all from CSV
  pkg/source/wanesy/config.go
  pkg/source/wanesy/source.go
Owners: @happyRip, @johanstokking

util: Update README.md
  README.md
Owners: none

util: Require JoinEUI only for OTAA
  pkg/source/wanesy/messages.go
  pkg/source/wanesy/source.go
Owners: @happyRip, @johanstokking

CODEOWNERS:

# Root
/ @johanstokking @adriansmares
/CODEOWNERS @johanstokking @adriansmares
/LICENSE @johanstokking

# Dependencies
/go.mod @johanstokking @adriansmares
/go.sum @johanstokking @adriansmares

# Build pipeline and tooling
/Makefile @adriansmares @happyRip
/.dev @adriansmares @happyRip
/.github/workflows @adriansmares @happyRip

# Commands
/cmd @happyRip @adriansmares @johanstokking
/pkg @happyRip @johanstokking
