Repository TheThingsNetwork/lorawan-stack-migrate, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @adriansmares, @happyRip

dev: Finalize parsing of fields
  pkg/source/wanesy/messages.go
Owners: @happyRip, @johanstokking

dev: Add unit tests
  .gitignore
  README.md
  go.mod
  pkg/source/wanesy/config.go
  pkg/source/wanesy/messages_test.go
  pkg/source/wanesy/source.go
  pkg/source/wanesy/testdata/test.csv
  pkg/source/wanesy/wanesy.go
Owners: @johanstokking, @adriansmares, @happyRip

dev: Add changelog
  CHANGELOG.md
  README.md
Owners: none

all: Set changelog to v0.11.0
  CHANGELOG.md
Owners: none

tts: Add field mask compression
  .dev/go.make
  .github/workflows/go.yaml
  CHANGELOG.md
  pkg/source/tts/config/config.go
  pkg/source/tts/field_masks_generated.go
  pkg/source/tts/field_tree.go
  pkg/source/tts/generate_field_masks.go
  pkg/source/tts/source.go
  pkg/source/tts/util.go
Owners: @adriansmares, @happyRip, @johanstokking

all: Set changelog to v0.11.1
  CHANGELOG.md
Owners: none

all: Fix chirpstack v3 source
  pkg/source/chirpstack/config/config.go
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

all: Adapt ChirpStack to v4
  cmd/chirpstack/chirpstack.go
  go.mod
  go.sum
  pkg/source/chirpstack/chirpstack.go
  pkg/source/chirpstack/config/config.go
  pkg/source/chirpstack/config/errors.go
  pkg/source/chirpstack/source.go
  pkg/source/chirpstack/util.go
Owners: @happyRip, @adriansmares, @johanstokking

all: Fix confirmed FCnt
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

all: Add timeout to dial
  pkg/source/chirpstack/config/config.go
Owners: @happyRip, @johanstokking

dev: Use system certs if not insecure
  pkg/source/chirpstack/config/config.go
Owners: @happyRip, @johanstokking

all: Adapt ChirpStack to v4
  cmd/chirpstack/chirpstack.go
  go.mod
  go.sum
  pkg/source/chirpstack/chirpstack.go
  pkg/source/chirpstack/config/config.go
  pkg/source/chirpstack/config/errors.go
  pkg/source/chirpstack/source.go
  pkg/source/chirpstack/util.go
Owners: @happyRip, @adriansmares, @johanstokking

all: Make ChirpStack work
  pkg/source/chirpstack/config/config.go
  pkg/source/chirpstack/errors.go
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

all: Fix wrong usage of confirmed downlink counter
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

all: Generate MAC state
  pkg/source/chirpstack/config/config.go
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

all: Add CS application ID to attributes
  pkg/source/chirpstack/config/config.go
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

dev: Update readme and changelog
  CHANGELOG.md
  README.md
Owners: none

dev: Fix ABP export
  pkg/source/chirpstack/config/config.go
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

all: Override flags only if env is set
  pkg/source/chirpstack/config/config.go
  pkg/source/firefly/config.go
  pkg/source/wanesy/config.go
Owners: @happyRip, @johanstokking

dev: Don't initialize defaults from env
  pkg/source/tts/config/config.go
  pkg/source/tts/config/errors.go
  pkg/source/tts/source.go
  pkg/source/tts/tts.go
Owners: @happyRip, @johanstokking

all: Use env only when set
  CHANGELOG.md
  pkg/source/ttnv2/config.go
  pkg/source/ttnv2/source.go
  pkg/source/ttnv2/ttnv2.go
Owners: @happyRip, @johanstokking

all: Set defaults from env for non sensitive flags
  pkg/source/chirpstack/config/config.go
  pkg/source/firefly/config.go
  pkg/source/ttnv2/config.go
  pkg/source/tts/config/config.go
  pkg/source/wanesy/config.go
Owners: @happyRip, @johanstokking

dev: Fix flag conditions
  pkg/source/firefly/config.go
  pkg/source/ttnv2/config.go
Owners: @happyRip, @johanstokking

all: Set changelog to v0.12.0
  CHANGELOG.md
Owners: none

dev: Fix error creation
  pkg/commands/source.go
Owners: @happyRip, @johanstokking

dev: Fix dependencies
  go.mod
  go.sum
  pkg/iterator/iterator_test.go
Owners: @johanstokking, @adriansmares, @happyRip

Update Go
  go.mod
Owners: @johanstokking, @adriansmares

awsiot: Add `awsiot` command
  cmd/awsiot/awsiot.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Define `util.Unmarshaller` interface
  pkg/util/util.go
Owners: @happyRip, @johanstokking

dev: Unify `Command` for each source
  cmd/chirpstack/chirpstack.go
  cmd/firefly/firefly.go
  cmd/root.go
  cmd/ttnv2/ttnv2.go
  cmd/tts/tts.go
  cmd/wanesy/wanesy.go
Owners: @happyRip, @adriansmares, @johanstokking

awsiot: Add `awsiot` source
  go.mod
  go.sum
  pkg/source/awsiot/awsiot.go
  pkg/source/awsiot/config/config.go
  pkg/source/awsiot/device.go
  pkg/source/awsiot/errors.go
  pkg/source/awsiot/profile.go
  pkg/source/awsiot/source.go
Owners: @johanstokking, @adriansmares, @happyRip

awsiot: Add copyright notes
  cmd/awsiot/awsiot.go
  cmd/chirpstack/chirpstack.go
  cmd/firefly/firefly.go
  cmd/root.go
  cmd/ttnv2/ttnv2.go
  cmd/tts/tts.go
  cmd/wanesy/wanesy.go
  pkg/source/awsiot/awsiot.go
  pkg/source/awsiot/config/config.go
  pkg/source/awsiot/device.go
  pkg/source/awsiot/errors.go
  pkg/source/awsiot/profile.go
  pkg/source/awsiot/source.go
Owners: @happyRip, @adriansmares, @johanstokking

Update Go version
  go.mod
Owners: @johanstokking, @adriansmares

dev: Unify `Command` for each source
  cmd/chirpstack/chirpstack.go
  cmd/firefly/firefly.go
  cmd/root.go
  cmd/ttnv2/ttnv2.go
  cmd/tts/tts.go
  cmd/wanesy/wanesy.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Define `util.Unmarshaller` interface
  pkg/util/util.go
Owners: @happyRip, @johanstokking

awsiot: Add `awsiot` command
  cmd/awsiot/awsiot.go
Owners: @happyRip, @adriansmares, @johanstokking

awsiot: Add `awsiot` source
  go.mod
  go.sum
  pkg/source/awsiot/awsiot.go
  pkg/source/awsiot/config/config.go
  pkg/source/awsiot/device.go
  pkg/source/awsiot/errors.go
  pkg/source/awsiot/profile.go
  pkg/source/awsiot/source.go
Owners: @johanstokking, @adriansmares, @happyRip

awsiot: Add copyright notes
  cmd/awsiot/awsiot.go
  cmd/chirpstack/chirpstack.go
  cmd/firefly/firefly.go
  cmd/root.go
  cmd/ttnv2/ttnv2.go
  cmd/tts/tts.go
  cmd/wanesy/wanesy.go
  pkg/source/awsiot/awsiot.go
  pkg/source/awsiot/config/config.go
  pkg/source/awsiot/device.go
  pkg/source/awsiot/errors.go
  pkg/source/awsiot/profile.go
  pkg/source/awsiot/source.go
Owners: @happyRip, @adriansmares, @johanstokking

awsiot: Export session keys
  pkg/source/awsiot/config/config.go
  pkg/source/awsiot/config/error.go
  pkg/source/awsiot/device.go
  pkg/source/awsiot/errors.go
  pkg/source/awsiot/profile.go
  pkg/source/awsiot/source.go
Owners: @happyRip, @johanstokking

dev: Update README with AWS IoT
  README.md
Owners: none

CODEOWNERS:

# Root
/ @johanstokking @adriansmares
/CODEOWNERS @johanstokking @adriansmares
/LICENSE @johanstokking

# Dependencies
/go.mod @johanstokking @adriansmares
/go.sum @johanstokking @adriansmares

# Build pipeline and tooling
/Makefile @adriansmares @happyRip
/.dev @adriansmares @happyRip
/.github/workflows @adriansmares @happyRip

# Commands
/cmd @happyRip @adriansmares @johanstokking
/pkg @happyRip @johanstokking
