Repository TheThingsNetwork/lorawan-stack-migrate, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @adriansmares, @happyRip

dev: Update CHANGELOG
  CHANGELOG.md
Owners: none

awsiot: Refactor ABP and OTAA devices
  pkg/source/awsiot/config/config.go
  pkg/source/awsiot/device.go
  pkg/source/awsiot/errors.go
  pkg/source/awsiot/profile.go
  pkg/source/awsiot/source.go
Owners: @happyRip, @johanstokking

dev: Update README with AWS config
  README.md
Owners: none

dev: Update README with the session limitation
  README.md
Owners: none

dev: Update ABP device session information in the README
  README.md
  pkg/source/awsiot/source.go
Owners: @happyRip, @johanstokking

Update dependencies
  .github/workflows/go.yaml
  .github/workflows/release.yaml
  go.mod
  go.sum
  pkg/source/tts/field_masks_generated.go
Owners: @adriansmares, @happyRip, @johanstokking

dev: Update Github Actions runners to `latest`
  .github/workflows/general.yaml
  .github/workflows/go.yaml
  .github/workflows/issue-triage.yml
  .github/workflows/release.yaml
Owners: @adriansmares, @happyRip

dev: Update Action runners
  .github/workflows/general.yaml
  .github/workflows/go.yaml
  .github/workflows/issue-triage.yml
  .github/workflows/release.yaml
Owners: @adriansmares, @happyRip

dev: Update dependencies
  go.mod
  go.sum
Owners: @johanstokking, @adriansmares

tts: Strip ids.dev_addr from exported devices
  pkg/source/tts/source.go
Owners: @happyRip, @johanstokking

tts: Fix application mode in TTS iterator
  pkg/source/tts/source.go
Owners: @happyRip, @johanstokking

Ignore go vendor directory
  .gitignore
Owners: none

Update changelog
  CHANGELOG.md
Owners: none

util: Update the change log with a new release
  CHANGELOG.md
Owners: none

fix: Snapcraft installation in release action
  .github/workflows/release.yaml
  go.mod
Owners: @adriansmares, @happyRip, @johanstokking

Update release.yaml
  .github/workflows/release.yaml
Owners: @adriansmares, @happyRip

Update release.yaml
  .github/workflows/release.yaml
Owners: @adriansmares, @happyRip

util: Update goreleaser configuration
  .goreleaser.yml
Owners: none

CODEOWNERS:

# Root
/ @johanstokking @adriansmares
/CODEOWNERS @johanstokking @adriansmares
/LICENSE @johanstokking

# Dependencies
/go.mod @johanstokking @adriansmares
/go.sum @johanstokking @adriansmares

# Build pipeline and tooling
/Makefile @adriansmares @happyRip
/.dev @adriansmares @happyRip
/.github/workflows @adriansmares @happyRip

# Commands
/cmd @happyRip @adriansmares @johanstokking
/pkg @happyRip @johanstokking
