Repository TheThingsNetwork/lorawan-stack-migrate, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @adriansmares, @happyRip

dev: Fix post-upgrade errors
  cmd/util.go
  pkg/source/chirpstack/source.go
  pkg/source/chirpstack/util.go
  pkg/source/ttnv2/config.go
  pkg/source/ttnv2/source.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Update `go-version` in workflows
  .github/workflows/go.yaml
  .github/workflows/release.yaml
Owners: @adriansmares, @happyRip

dev: Upgrade all packages and `go mod tidy`
  go.mod
  go.sum
Owners: @johanstokking, @adriansmares

dev: Upgrade `lorawan-stack` to `v3.21`
  go.mod
  go.sum
Owners: @johanstokking, @adriansmares

dev: Upgrade `go` to `1.18` and `go mod tidy`
  go.mod
  go.sum
Owners: @johanstokking, @adriansmares

dev: Fix post-upgrade errors
  cmd/util.go
  pkg/source/chirpstack/source.go
  pkg/source/chirpstack/util.go
  pkg/source/ttnv2/source.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Improve formatting
  pkg/source/ttnv2/source.go
Owners: @happyRip, @johanstokking

Upgrade `go` and dependencies (#45)
  .github/workflows/go.yaml
  .github/workflows/release.yaml
  cmd/util.go
  go.mod
  go.sum
  pkg/source/chirpstack/source.go
  pkg/source/chirpstack/util.go
  pkg/source/ttnv2/config.go
  pkg/source/ttnv2/source.go
Owners: @adriansmares, @happyRip, @johanstokking

dev: Add `ttnv3` source
  cmd/ttn-lw-migrate/main.go
  pkg/source/ttnv3/ttnv3.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Implement barebones `source.Source` interface
  pkg/source/ttnv3/config.go
  pkg/source/ttnv3/errors.go
  pkg/source/ttnv3/source.go
  pkg/source/ttnv3/ttnv3.go
Owners: @happyRip, @johanstokking

dev: Add `ExportDevice()` and `Close()` functionality
  go.mod
  go.sum
  pkg/source/ttnv3/api/api.go
  pkg/source/ttnv3/config.go
  pkg/source/ttnv3/source.go
  pkg/source/ttnv3/util.go
Owners: @johanstokking, @adriansmares, @happyRip

dev: Implement `RangeDevices()` with pagination
  pkg/source/ttnv3/source.go
  pkg/source/ttnv3/util.go
Owners: @happyRip, @johanstokking

dev: Handle `dry-run` flag
  pkg/source/ttnv3/config.go
  pkg/source/ttnv3/source.go
Owners: @happyRip, @johanstokking

dev: Add TLS support
  pkg/source/ttnv3/api/api.go
  pkg/source/ttnv3/config.go
  pkg/source/ttnv3/errors.go
  pkg/source/ttnv3/source.go
Owners: @happyRip, @johanstokking

dev: Add changes to `CHANGEOLOG.md`
  CHANGELOG.md
Owners: none

dev: Update docs
  README.md
Owners: none

Support migration from The Things Stack (#47)
  CHANGELOG.md
  README.md
  cmd/ttn-lw-migrate/main.go
  go.mod
  go.sum
  pkg/source/ttnv3/api/api.go
  pkg/source/ttnv3/config.go
  pkg/source/ttnv3/errors.go
  pkg/source/ttnv3/source.go
  pkg/source/ttnv3/ttnv3.go
  pkg/source/ttnv3/util.go
Owners: @happyRip, @adriansmares, @johanstokking

doc: Update `CHANGEOLOG.md`
  CHANGELOG.md
Owners: none

doc: Update `CHANGEOLOG.md` (#48)
  CHANGELOG.md
Owners: none

Use zap instead of apex
  go.mod
  go.sum
  pkg/source/ttnv3/config.go
  pkg/source/ttnv3/source.go
Owners: @johanstokking, @adriansmares, @happyRip

Make CA optional
  pkg/source/ttnv3/config.go
  pkg/source/ttnv3/errors.go
Owners: @happyRip, @johanstokking

Allow JS entity to be missing
  pkg/source/ttnv3/source.go
Owners: @happyRip, @johanstokking

dev: Add basic config
  pkg/source/firefly/config.go
  pkg/source/firefly/source.go
Owners: @happyRip, @johanstokking

dev: Implement a barebones `source.Source` interface
  pkg/source/firefly/firefly.go
  pkg/source/firefly/source.go
Owners: @happyRip, @johanstokking

dev: Improve config
  pkg/source/firefly/config.go
  pkg/source/firefly/errors.go
Owners: @happyRip, @johanstokking

dev: Add `firefly` source
  cmd/ttn-lw-migrate/main.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Create `devices` package
  pkg/source/firefly/devices/application.go
  pkg/source/firefly/devices/devices.go
Owners: @happyRip, @johanstokking

dev: Add `api` package
  pkg/source/firefly/api/api.go
Owners: @happyRip, @johanstokking

dev: Extend `source` functionalities
  pkg/source/firefly/firefly.go
  pkg/source/firefly/source.go
  pkg/source/firefly/util.go
Owners: @happyRip, @johanstokking

dev: Improve `devices` package
  pkg/source/firefly/devices/devices.go
  pkg/source/firefly/devices/packet.go
Owners: @happyRip, @johanstokking

dev: Improve `api` package
  pkg/source/firefly/api/api.go
Owners: @happyRip, @johanstokking

dev: Work on `firefly` package
  pkg/source/firefly/config.go
  pkg/source/firefly/errors.go
  pkg/source/firefly/source.go
Owners: @happyRip, @johanstokking

dev: Move to `zap` logger
  pkg/source/firefly/api/api.go
  pkg/source/firefly/config.go
  pkg/source/firefly/source.go
Owners: @happyRip, @johanstokking

dev: Add `Location` object to `devices` package
  pkg/source/firefly/devices/devices.go
Owners: @happyRip, @johanstokking

doc: Add documentation for `firefly` source
  README.md
Owners: none

dev: Small updates
  pkg/source/firefly/api/api.go
  pkg/source/firefly/config.go
  pkg/source/firefly/source.go
Owners: @happyRip, @johanstokking

dev: Add and handle flags
  pkg/source/ttnv3/config.go
  pkg/source/ttnv3/source.go
  pkg/source/ttnv3/util.go
Owners: @happyRip, @johanstokking

doc: Update `CHANGEOLOG.md`
  CHANGELOG.md
Owners: none

doc: Update `CHANGEOLOG.md`
  CHANGELOG.md
Owners: none

fix: Overwrite default `app-id` when calling `application`
  pkg/source/ttnv2/source.go
  pkg/source/ttnv3/source.go
Owners: @happyRip, @johanstokking

CODEOWNERS:

# Root
/ @johanstokking @adriansmares
/CODEOWNERS @johanstokking @adriansmares
/LICENSE @johanstokking

# Dependencies
/go.mod @johanstokking @adriansmares
/go.sum @johanstokking @adriansmares

# Build pipeline and tooling
/Makefile @adriansmares @happyRip
/.dev @adriansmares @happyRip
/.github/workflows @adriansmares @happyRip

# Commands
/cmd @happyRip @adriansmares @johanstokking
/pkg @happyRip @johanstokking
