Repository TheThingsNetwork/lorawan-stack-migrate, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @adriansmares, @happyRip

fix: Make `app-id` flag optional for `application` command
  pkg/source/ttnv2/config.go
  pkg/source/ttnv2/source.go
  pkg/source/ttnv3/config.go
  pkg/source/ttnv3/source.go
Owners: @happyRip, @johanstokking

dev: Update to node 16 and new set-output
  .github/workflows/general.yaml
  .github/workflows/go.yaml
  .github/workflows/issue-triage.yml
  .github/workflows/release.yaml
Owners: @adriansmares, @happyRip

dev: Fix action breaking changes
  .github/workflows/issue-triage.yml
  .github/workflows/release.yaml
Owners: @adriansmares, @happyRip

Update triage script after action upgrade
  .github/workflows/issue-triage.yml
Owners: @adriansmares, @happyRip

fix: Initialize `ApplicationIds` field
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

dev: Fix Mac state chirpstack error
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

fix: Nil dev addr
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

fix: Unmarshall string
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

fix: Init pointers
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

fix: Fix MAC state
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

fix: Remove comment
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

Fix ChirpStack source (#64)
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

Fix Snapcraft release
  .github/workflows/release.yaml
Owners: @adriansmares, @happyRip

Fix Snapcraft release
  .github/workflows/release.yaml
Owners: @adriansmares, @happyRip

fix: Wipe historical timestamps when `no-session`
  pkg/source/ttnv3/util.go
Owners: @happyRip, @johanstokking

dev: Fix exporting `ttnv3` devices without session
  pkg/source/ttnv3/util.go
Owners: @happyRip, @johanstokking

dev: Fill End Device Ids from all servers
  pkg/source/ttnv3/errors.go
  pkg/source/ttnv3/source.go
  pkg/source/ttnv3/util.go
Owners: @happyRip, @johanstokking

doc: Update changelog
  CHANGELOG.md
Owners: none

doc: Update changelog
  CHANGELOG.md
Owners: none

Fix Snapcraft release
  .github/workflows/release.yaml
Owners: @adriansmares, @happyRip

dev: Move `arg` to `cmd` package
  cmd/a.go
  cmd/ttn-lw-migrate/main.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Append source name to flag names when no `ActiveSource`
  pkg/source/source.go
Owners: @happyRip, @johanstokking

dev: Remove prefix from `ttnv3`
  pkg/source/ttnv3/config.go
  pkg/source/ttnv3/source.go
Owners: @happyRip, @johanstokking

dev: Add command-specific flag sets
  cmd/application.go
  cmd/devices.go
  pkg/source/source.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Avoid depending on initialization order
  cmd/a.go
  cmd/application.go
  cmd/devices.go
  cmd/root.go
  cmd/ttn-lw-migrate/main.go
  pkg/source/source.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Add positional source argument to root command
  cmd/ttn-lw-migrate/main.go
  go.mod
  go.sum
  pkg/arg/arg.go
  pkg/source/source.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Use root config and remove unused global flags
  cmd/export.go
  cmd/root.go
  pkg/source/source.go
  pkg/source/ttnv3/config.go
  pkg/source/ttnv3/config/config.go
  pkg/source/ttnv3/config/errors.go
  pkg/source/ttnv3/source.go
  pkg/source/ttnv3/ttnv3.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Update `ttnv2` source
  pkg/source/ttnv2/config.go
  pkg/source/ttnv2/source.go
  pkg/source/ttnv2/ttnv2.go
Owners: @happyRip, @johanstokking

dev: Update `go.mod`
  go.mod
Owners: @johanstokking, @adriansmares

dev: Update `ttnv3` source
  pkg/source/ttnv2/config.go
  pkg/source/ttnv3/config/config.go
Owners: @happyRip, @johanstokking

dev: Improve source flags
  pkg/source/chirpstack/chirpstack.go
  pkg/source/chirpstack/config/config.go
  pkg/source/source.go
  pkg/source/ttnv2/config.go
  pkg/source/ttnv2/ttnv2.go
  pkg/source/ttnv3/config/config.go
  pkg/source/ttnv3/ttnv3.go
Owners: @happyRip, @johanstokking

dev: Update `chirpstack` source
  pkg/source/chirpstack/chirpstack.go
  pkg/source/chirpstack/config.go
  pkg/source/chirpstack/config/config.go
  pkg/source/chirpstack/config/errors.go
  pkg/source/chirpstack/config/log.go
  pkg/source/chirpstack/config/token.go
  pkg/source/chirpstack/source.go
  pkg/source/chirpstack/util.go
Owners: @happyRip, @johanstokking

dev: Update copyright notices
  cmd/application.go
  cmd/devices.go
  cmd/export.go
  cmd/root.go
  pkg/source/chirpstack/chirpstack.go
  pkg/source/chirpstack/config/config.go
  pkg/source/chirpstack/config/errors.go
  pkg/source/chirpstack/config/log.go
  pkg/source/chirpstack/config/token.go
  pkg/source/chirpstack/errors.go
  pkg/source/chirpstack/source.go
  pkg/source/chirpstack/util.go
  pkg/source/source.go
  pkg/source/ttnv2/config.go
  pkg/source/ttnv2/source.go
  pkg/source/ttnv2/ttnv2.go
  pkg/source/ttnv3/config/config.go
  pkg/source/ttnv3/config/errors.go
  pkg/source/ttnv3/errors.go
  pkg/source/ttnv3/source.go
  pkg/source/ttnv3/ttnv3.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Fix `ttnv3` TLS
  pkg/source/ttnv3/config/config.go
Owners: @happyRip, @johanstokking

dev: Fix `chirpstack` source
  pkg/source/chirpstack/chirpstack.go
  pkg/source/chirpstack/config/config.go
  pkg/source/chirpstack/config/errors.go
  pkg/source/chirpstack/source.go
Owners: @happyRip, @johanstokking

dev: Command package formatting
  cmd/application.go
  cmd/devices.go
  cmd/version.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Use root config struct instead of flags
  cmd/export.go
  cmd/root.go
  pkg/source/source.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Update `ttnv3` package config
  pkg/source/ttnv3/api/api.go
  pkg/source/ttnv3/config.go
  pkg/source/ttnv3/config/config.go
  pkg/source/ttnv3/config/errors.go
  pkg/source/ttnv3/source.go
  pkg/source/ttnv3/ttnv3.go
  pkg/source/ttnv3/util.go
Owners: @happyRip, @johanstokking

dev: Update `chirpstack` source
  pkg/source/chirpstack/config.go
  pkg/source/chirpstack/config/config.go
  pkg/source/chirpstack/config/errors.go
  pkg/source/chirpstack/config/log.go
  pkg/source/chirpstack/config/token.go
  pkg/source/chirpstack/errors.go
  pkg/source/chirpstack/source.go
  pkg/source/chirpstack/util.go
Owners: @happyRip, @johanstokking

dev: Update `ttnv2` source
  pkg/source/ttnv2/config.go
  pkg/source/ttnv2/errors.go
  pkg/source/ttnv2/retry.go
  pkg/source/ttnv2/source.go
  pkg/source/ttnv2/ttnv2.go
Owners: @happyRip, @johanstokking

CODEOWNERS:

# Root
/ @johanstokking @adriansmares
/CODEOWNERS @johanstokking @adriansmares
/LICENSE @johanstokking

# Dependencies
/go.mod @johanstokking @adriansmares
/go.sum @johanstokking @adriansmares

# Build pipeline and tooling
/Makefile @adriansmares @happyRip
/.dev @adriansmares @happyRip
/.github/workflows @adriansmares @happyRip

# Commands
/cmd @happyRip @adriansmares @johanstokking
/pkg @happyRip @johanstokking
