Repository TheThingsNetwork/lorawan-stack-migrate, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @adriansmares, @happyRip

dev: Add flag prefix
  pkg/source/source.go
Owners: @happyRip, @johanstokking

dev: Fix `source` flag
  cmd/root.go
  pkg/source/source.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Depreciate `app` and `dev` commands
  cmd/application.go
  cmd/devices.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Restructure `cmd` package utils
  cmd/application.go
  cmd/devices.go
  cmd/root.go
  cmd/util.go
  pkg/commands/commands.go
  pkg/commands/iterator.go
  pkg/commands/iterator_test.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Add `ttnv3` command
  cmd/root.go
  cmd/sources.go
  cmd/ttnv3/application.go
  cmd/ttnv3/devices.go
  cmd/ttnv3/ttnv3.go
  pkg/source/source.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Fix `devices` subcommand
  cmd/ttnv3/devices.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Fix root command context
  cmd/root.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Generate source command programatically
  cmd/ttnv3/application.go
  cmd/ttnv3/devices.go
  cmd/ttnv3/ttnv3.go
  pkg/commands/commands.go
  pkg/commands/export.go
  pkg/commands/source.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Separate `export` package
  cmd/application.go
  cmd/devices.go
  cmd/root.go
  cmd/ttnv3/application.go
  cmd/ttnv3/devices.go
  cmd/util.go
  cmd/version.go
  pkg/export/context.go
  pkg/export/errors.go
  pkg/export/export.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Add shared source pre-run
  pkg/commands/export.go
  pkg/commands/source.go
  pkg/source/errors.go
  pkg/source/source.go
Owners: @happyRip, @johanstokking

dev: Set active source in `ttnv3` command
  cmd/ttnv3/application.go
  cmd/ttnv3/devices.go
  cmd/ttnv3/ttnv3.go
  pkg/commands/parent.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Add `chirpstack` command
  cmd/chirpstack/chirpstack.go
  cmd/root.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Add `ttnv2` command
  cmd/root.go
  cmd/ttnv2/ttnv2.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Add `pkg/commands` doc comments
  pkg/commands/commands.go
  pkg/commands/parent.go
  pkg/commands/source.go
Owners: @happyRip, @johanstokking

dev: Add TODO notes for adding command groups
  cmd/root.go
  pkg/commands/commands.go
  pkg/commands/source.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Update copyright dates
  .hooks/install-hooks.go
  .hooks/run-hooks.go
  cmd/sources.go
  cmd/ttn-lw-migrate/main.go
  cmd/util.go
  pkg/source/ttnv2/source.go
  pkg/version/build.go
  tools.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Change name of `ttnv3` source to `tts`
  README.md
  cmd/root.go
  cmd/ttn-lw-migrate/main.go
  cmd/tts/tts.go
  pkg/source/tts/api/api.go
  pkg/source/tts/config/config.go
  pkg/source/tts/config/errors.go
  pkg/source/tts/errors.go
  pkg/source/tts/source.go
  pkg/source/tts/tts.go
  pkg/source/tts/util.go
Owners: @happyRip, @adriansmares, @johanstokking

doc: Update readme
  README.md
Owners: none

doc: Update changelog
  CHANGELOG.md
Owners: none

dev: Upgrade `go` to `1.20`
  go.mod
Owners: @johanstokking, @adriansmares

dev: Upgrade `lw-stack` to `v3.25.1`
  go.mod
  go.sum
  pkg/source/chirpstack/source.go
  pkg/source/ttnv2/source.go
Owners: @johanstokking, @adriansmares, @happyRip

dev: Upgrade `spf13/cobra` to `v1.7.0.` and add command groups
  cmd/root.go
  go.mod
  go.sum
  pkg/commands/commands.go
  pkg/commands/source.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Allow for command specific options in `commands.Source()`
  cmd/chirpstack/chirpstack.go
  cmd/tts/tts.go
  pkg/commands/source.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Do not validate device address
  pkg/source/tts/util.go
Owners: @happyRip, @johanstokking

dev: Update dependencies
  CHANGELOG.md
  go.mod
  go.sum
Owners: @johanstokking, @adriansmares

dev: Update CI
  .github/workflows/go.yaml
  .github/workflows/release.yaml
Owners: @adriansmares, @happyRip

dev: Add dependabot
  .github/dependabot.yml
Owners: none

dev: Update goreleaser
  .github/workflows/release.yaml
Owners: @adriansmares, @happyRip

dev: Return application export error
  pkg/commands/export.go
  pkg/commands/source.go
Owners: @happyRip, @johanstokking

tts: Export CACs only on explicit request
  pkg/source/tts/config/config.go
  pkg/source/tts/source.go
Owners: @happyRip, @johanstokking

dev: Update changelog
  CHANGELOG.md
Owners: none

dev: Add `pkg/source/loriot`
  pkg/source/loriot/config/config.go
  pkg/source/loriot/loriot.go
Owners: @happyRip, @johanstokking

dev: Add `cmd/loriot`
  cmd/loriot/loriot.go
  cmd/root.go
Owners: @happyRip, @adriansmares, @johanstokking

dev: Add `api` package
  pkg/source/loriot/api/api.go
Owners: @happyRip, @johanstokking

dev: Add `config` package
  pkg/source/loriot/config/config.go
Owners: @happyRip, @johanstokking

dev: Export devices
  pkg/source/loriot/loriot.go
  pkg/source/loriot/source.go
Owners: @happyRip, @johanstokking

dev: Define errors
  pkg/source/loriot/source.go
Owners: @happyRip, @johanstokking

dev: Fix issues
  pkg/source/loriot/api/api.go
  pkg/source/loriot/config/config.go
  pkg/source/loriot/loriot.go
  pkg/source/loriot/source.go
Owners: @happyRip, @johanstokking

tts: Erase device address on no session
  CHANGELOG.md
  pkg/source/tts/util.go
Owners: @happyRip, @johanstokking

Update CHANGELOG
  CHANGELOG.md
Owners: none

CODEOWNERS:

# Root
/ @johanstokking @adriansmares
/CODEOWNERS @johanstokking @adriansmares
/LICENSE @johanstokking

# Dependencies
/go.mod @johanstokking @adriansmares
/go.sum @johanstokking @adriansmares

# Build pipeline and tooling
/Makefile @adriansmares @happyRip
/.dev @adriansmares @happyRip
/.github/workflows @adriansmares @happyRip

# Commands
/cmd @happyRip @adriansmares @johanstokking
/pkg @happyRip @johanstokking
